
$gray: #0E0000;
$light-gray: #F4F4F4;
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

// main color:
$dark-brown:#4a3933;
$gold:#F0A500;
$red-orange:#E45826;
$beige:#E6D5B8;
$orange-button: #DB6510;
$orange-hover : #f49b5b;
$text-white:white;
$blue: rgb(14, 97, 136);
$background-beige:rgb(235, 226, 216);


// login modal color

$home-ask-bg:#ece5da ;
$login-modal-bb-content : $dark-brown;
$login-modal-bg-left: $orange-button;
$login-button-bg: $orange-button;
$login-button-bg-hover: $orange-hover;
$nav-toggle-burger : rgba(230, 213, 184, 0.85);
