// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$orange-button: #DB6510;
$orange-hover : #F1863B;

          // login modal color
$login-modal-bb-content : #3C2D21;
$login-modal-bg-left:$orange-button;
$login-button-bg:$orange-button;
$login-button-bg-hover:$orange-hover
