          // Specific CSS for your home-page
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif !important;
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: $beige;
}

body::-webkit-scrollbar-thumb {
  background: $dark-brown;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background:$gold;
}
.homepage-topimage-container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.homepage-image-top{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  padding: -10px;
}

.homepage-slideshow  {

}

.slideshow-container {
  background-color: rgba(219, 101, 16, 0.4) !important;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 30%;
  padding-left: 40px;
  padding-top: 30px;
  color : $text-white;
  backdrop-filter: blur(15px);
}


.mySlides {
  transition: opacity 1.0s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}


.text-slideshow {
  color:$text-white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
}

.mySlides  div {
  top:140px !important;
  font-size: 20px;
}

.mySlides p {
  font-size: 45px;
}

.numbertext {
  color:$text-white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.line-and-dot-container{
  display: inline-flex;
  align-items: center;
  flex-direction: row;

}
.dot-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5px;
  cursor: pointer;
  flex-direction: row;
}

.dot {
  height: 40px;
  width: 40px;
  margin: 0 2px;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid $text-white;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  text-align: center;
  justify-content: center;
}

.number-in-dot{
  position: absolute;
}

.active {
  background-color: $orange-button;
  border:none;
}

.dot:hover{
 background-color: $orange-button;
 opacity: 0.5;
 border: none;
}

.line-slideshow{
  width: 50px;
  background-color: $text-white;
  height: 7px;
  border-radius: 5px;
}

.gray-space {
  flex: 1;
  background-color: $beige ;
  height: 42vh;
}
.content {
  display: flex;
  flex-direction: row;
  height: 60%; /* Set height to 60% of viewport height */

}
.text-container {
  flex: 1; /* Take half of the space */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  font-weight: 700;
}

.text {
  font-size: 24px;
  color:$dark-brown !important;
}

.button-container {
  flex: 1; /* Take half of the space */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:5%;
  font-size: 25px ;
}

.button-container button {
  max-height: 100%;
  max-width: 100%;
  background-color:$orange-button ;
  border-radius: 5px;
  font-size: 25px ;
}

.button-container button:hover{
  background-color: $orange-hover !important;
}

.button-container input{
  padding:5px;
  border-radius: 5px;
  background-color:$beige !important;
  border: 2px $orange-button solid;
  outline: none;
  color:$dark-brown;
}

.button-container input::placeholder{
  color: $dark-brown;
}

.ask-question-space{
  flex: 1; /* Take remaining space */
  background-color: $home-ask-bg ;/* Gray background color */
  height: 100vh;
  padding: 5%;
  color: $dark-brown;
}

.question-card{
  box-shadow: 0px 14px 49px 0px rgba(74, 57, 51, 0.11);
  border-radius: 10px;
  padding:10px;
}

.ask-question-space p{
  font-size: 40px;
}

.ask-question-space ul{
  margin-top: 2%;
  margin-right: 4%;
  list-style-type: none;
}

.img-fluid{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
