

.coffeemachines-container{
  background-color: $background-beige;

}

.image-coffeemachines-container{
  mix-blend-mode: multiply;
  border: none;

  min-height: 120px;
  min-width: 120px;
}

.image-coffeemachines{
  object-fit: cover;

}

.coffee-machine-card {
  box-shadow: 0px 0px 12px 5px rgba(93, 52, 16, 0.31);
  border-radius: 20px;

}

.card-body-coffeemachine{

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.cofeenachine-button-orange, .cofeenachine-button-orange:hover{
  background-color: $orange-button;
  border-radius: 20px;

  min-width: 60px;
  color:$text-white;
}

.cofeenachine-button-blue, .cofeenachine-button-blue:hover{
  background-color: $background-beige;
  border-radius: 20px;
  border: 2px solid $dark-brown;
  color: $dark-brown !important;

}
.details-cofeemachine-drowpdown{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: $background-beige;
  border-radius: 10px;
  min-width : 30vw;
  padding: 0.5vw;

}
.error-cofeemachine-drowpdown{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: $orange-button;
  border-radius: 10px;
}

.error-cofeemachine-drowpdown .dropdown-item:hover{
  background-color: $orange-hover;
}
.error-cofeemachine-drowpdown .dropdown-item{
  color: $text-white;
}


.coffeemachine-card-border{
 border:2px solid $dark-brown;
 border-radius: 10px;
}


@media screen and (min-width : 1200px){
  .coffeemachines-container{
    padding: 8% 0;
  }
  .coffee-machine-title h2{
    font-size: 3vw;
    color:$dark-brown;
  }
  .image-coffeemachines-container{
    min-height: 150px !important;
    min-width: 150px !important;
  }
  .card-body-coffeemachine h4{
    font-size: 1.2vw !important;
    font-weight: 1000;
  }
  .error-cofeemachine-drowpdown{
    font-size: 1.3vw !important;

  }

  .cofeenachine-button-orange, .cofeenachine-button-orange:hover{
    font-size: 0.9vw !important;
  }

  .cofeenachine-button-blue, .cofeenachine-button-blue:hover{
    font-size: 0.9vw !important;
  }
}
@media screen and (min-width : 768px){
  .coffeemachines-container{
    padding: 12% 0;
  }
  .coffee-machine-title h2{
    font-size: 3vw;
    color:$dark-brown;
  }
  .image-coffeemachines-container{
    min-height: 130px;
    min-width: 130px;
  }
  .card-body-coffeemachine h4{
    font-size: 1.7vw;
    font-weight: 1000;
  }

  .cofeenachine-button-orange, .cofeenachine-button-orange:hover{
    font-size: 1.5vw;
  }
  .error-cofeemachine-drowpdown{
    font-size: 1.7vw !important;

  }
  .cofeenachine-button-blue, .cofeenachine-button-blue:hover{
    font-size: 1.5vw;
  }
}
@media screen and (max-width : 767px){
  .coffeemachines-container{
    padding: 22% 0;
  }
  .coffee-machine-title h2{
    font-size: 3.2vw;
    color:$dark-brown;
  }

  .card-body-coffeemachine h4{
    font-size: 3.2vw;
    font-weight: 1000;
  }

  .cofeenachine-button-orange, .cofeenachine-button-orange:hover{
    font-size: 2.7vw;
  }
  .error-cofeemachine-drowpdown{
    font-size: 3vw !important;

  }
  .cofeenachine-button-blue, .cofeenachine-button-blue:hover{
    font-size: 2.7vw;
  }
}
