body{
  font-family: "Nunito" !important;
}

.coffeemachines-container{
  background-color: $background-beige;
  padding-top: 10%;

}
.image-coffeemachines-container{
  // height: 80%;
  // mix-blend-mode: multiply;
  border: none;
  margin-top:-15%;
  margin-bottom: 10%;
  min-height: 15vw;
  min-width: 15vw;
}
.image-coffeemachines{
  object-fit: cover;
  // margin-top: -10%;
  min-height: 8vw;
  min-width: 8vw;


}
.test{
  border: 2px solid black;
}

.coffee-machine-crad{
  // border:2px solid black;
  box-shadow: 0px 0px 12px 5px rgba(93, 52, 16, 0.31);
  border-radius: 20px;

}

.card-body-coffeemachine h4{
  font-size: 1.5vw;

}
.card-body-coffeemachine{
  margin-left: 8%;
  padding-left: 12%;
  padding-top: 18%;

}

.cofeenachine-button-orange , .cofeenachine-button-orange:hover{
  background-color: $orange-button;
  border-radius: 20px;
  // padding: 8px 20px;
  margin-right: 40px;
  min-width: 60px;
  color:$text-white;
  font-size: 1vw;
}

.cofeenachine-button-blue,.cofeenachine-button-blue:hover{
  background-color: $background-beige;
  border-radius: 20px;
  border: 2px solid $dark-brown;
  color: $dark-brown !important;
  // padding: 8px 20px;
  font-size: 1vw;

}
.details-cofeemachine-drowpdown{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: $background-beige;
  border-radius: 10px;
  min-width : 30vw;
  padding: 0.5vw;

}

.coffeemachine-card-border{
  border:2px solid $dark-brown;

border-radius: 10px;

}
