.card-profile-container {
  background-color: $background-beige;
  height: 100vh;
  margin-top: 300px;
}
.card-profile-container h2{
  color:red;
  z-index: 1;
  margin-top: -100px;
}
body {
  font-family: "Nunito" !important;
}

.profile-container {
 background-color: $background-beige;
 padding: 5% 10%;
 box-shadow: 0px 0px 12px 5px rgba(93, 52, 16, 0.31);
 border-radius: 20px;
 margin-top: 12%;
 margin-left: 12%;
 padding-left: 12%;
 font-size: 1.5vw;
}

.profile-container h2 {
  margin: 6% 0;
}

.profile-container a {
  color: $orange-button;
}
