<h1>Here you can find answers to the most common questions</h1>


<div class="flex-container">
  <div class="flex-item">
    <p class="question"> 1. DO I NEED A FILTER FOR MY COFFEE MACHINE?</p>
    <p class="answer">Yes, it is very important to use a filter for the coffee machine,
    because it will make the boiler work much longer and the coffee tastier.</p>
  </div>

</div>
