  <div class="dropdown">

  <button class="btn cofeenachine-button-blue dropdown-toggle mb-2" type="button" id="detailsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      view details
    </button>
    <ul class="dropdown-menu details-cofeemachine-drowpdown" aria-labelledby="detailsDropdown">
     <li> <%= coffee_machine.machine_type %></li>
     <li><%= coffee_machine.description %></li>
    </ul>

    <button class="btn cofeenachine-button-orange dropdown-toggle" type="button" id="errorDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      Choose Error
    </button>
    <ul class="dropdown-menu" aria-labelledby="errorDropdown">
        <% @allerrors.each do |error| %>
          <% if error.coffee_machine_model_id == coffee_machine.coffee_machine_model_id %>
            <li><%= link_to error.error_code, error_message_path(error), class:"dropdown-item" %></li>
          <% end %>
        <% end %>
    </ul>











 </div>
