<div class="modal fade modal-login-background" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="row modal-size modal-size-login">
    <div class="d-md-block d-none col-md-6 left-login-modal ">
      <i class="fa-solid fa-mug-hot"></i>
      <div class="text-center left-login-modal-content">
        <div class="">
         <p>Worlwide support for your coffee machine is here</p>
        </div>
        <br/>
        <i class="fa-solid fa-screwdriver-wrench"></i>
      </div>
    </div>
    <div class="col-12 col-md-6 ">
      <div class="modal-content">
        <div class="modal-header ">
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title  mb-5" id="loginModalLabel">Login to your Account</h5>

          <%= render 'devise/sessions/new'%>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
