<div class="container">
<div>after log in</div>

<button class="btn btn-primary">Please insert your
Error Code HERE </button>
<br/>
  <%= link_to 'HERE you can find asnwers for most common questions', question_and_answers_path ,class:"btn btn-primary mt-5"%>
<br/>
<button class="btn btn-primary mt-5">Please feel the form and we will contact you as soon as possible! </button>

<br/>


<%= cl_image_tag("plpcxbcum4xv0gx7lhmb",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("jcig4f9b1sgpswlbpfwj",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
