<div class="container">
<div>after log in</div>

<button class="btn btn-primary">Please insert your
Error Code HERE </button>
<br/>
  <%= link_to 'HERE you can find asnwers for most common questions', question_and_answers_path ,class:"btn btn-primary mt-5"%>
<br/>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
  Contact Manufacture
</button>
<%= render 'shared/contact_modal' %>
