<div class="container">
<div>after log in</div>

<button class="btn btn-primary">Please insert your
Error Code HERE </button>
<br/>
<button class="btn btn-primary mt-5">HERE you can find asnwers for most common questions </button>
<br/>
<button class="btn btn-primary mt-5">Please feel the form and we will contact you as soon as possible! </button>


  <%= link_to 'Log Out', destroy_user_session_path, method: :DELETE %>
</div>
