.modal-size{
  width: 150% !important;
color:$text-white !important;
}

.left-login-modal{
  background-color: $login-modal-bg-left ;
}
.left-login-modal > i{
  margin: 13px !important;
  font-size: 1.5em !important;

}
.left-login-modal-content{
  margin-top: 20%;
}
.left-login-modal-content p{
  padding:0 10% ;
}
.left-login-modal-content i{
  font-size: 6em;

}

.modal-content{
  background-color: $login-modal-bb-content;
  margin-left: -13px;
  border:none !important;
  border-radius: 0 !important;
}

.form-control {
  border: none;
  border-bottom: 1px solid $beige;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

.form-floating  {
  color: $text-white;
  font-size: 0.8rem;
}

/* Style the input label when it's floating */
.form-floating input:focus~label,  .form-control:focus {
  border-bottom: 1px solid transparent;
  border: none; /* Remove the border */
  border-radius: 0; /* Remove any border-radius */
  border-bottom: 1px solid $text-white; /* Add a bottom border */
  background-color: transparent; /* Set the background color to transparent */
  box-shadow: none; /* Remove any box shadow */
  outline: none;
}
.modal-header{
  border:none !important;
}
.submit-button{
  width: 100%;
  margin: 0 auto;
  background-color: $login-button-bg;
}
.submit-button:hover{
  background-color: $login-button-bg-hover;
  color: black;
}
