.navbar-style {
  justify-content: space-between;
}

.navbar-style .navbar-collapse {
  flex-grow: 0;
}

.navbar-style .navbar-brand img {
  width: 140px;
}
.style_logo{

}
.profile-image{
  border-radius: 50%;
}
.dropdown-menu{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #DB6510;
  border-radius: 10px;
}
.dropdown-item:hover{
  background-color: #d5874e;
}
