.navbar-style {
  justify-content: space-between !important;

}

.navbar-style .navbar-collapse {
  flex-grow: 0;
}

.navbar-style .navbar-brand img {
  width: 140px;
}
.style-logo{
  margin-top: -2px;
  margin-left: -200px;

}
.nav-button-orange{
  background-color: $orange-button;
  border-radius: 20px;
  // padding: 8px 20px;
  margin-right: 40px;
  min-width: 60px;
}

.nav-button-orange:hover{
  background-color: $orange-hover;
  color: rgb(145, 60, 4);
  border-radius: 20px;
  // padding: 8px 20px;
  margin-right: 40px;
  min-width: 60px;
}

.nav-button-blue{
  background-color: rgb(230, 245, 247);
  border-radius: 20px;
  border: 2px solid rgb(14, 97, 136);
  color: rgb(14, 97, 136);
  // padding: 8px 20px;

}
.nav-button-blue:hover{
  background-color: rgb(14, 97, 136);
  color: rgb(230, 245, 247);
  border-radius: 20px;
  // padding: 8px 20px;
  min-width: 60px;
}


.profile-image{
  border-radius: 50%;
}
.dropdown-menu{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $orange-button;
  border-radius: 10px;
}
.dropdown-item:hover{
  background-color: $orange-hover;
}
.navbar-top {
  position: fixed;
  top: 0;
  left:300px !important;
  z-index: 1;
}

