.navbar-top {
  position: fixed;
  top: 0;
  left:300px !important;
  z-index: 1;
  min-width: 1000px;
}

.navbar-style {
  justify-content: space-between !important;

}

.navbar-style .navbar-collapse {
  flex-grow: 0;

}
.navbar-collapse{
  margin-left: 0%;
}
.navbar-style .navbar-brand img {
  width: 140px;
}
.style-logo{
  margin-top: -2px;
  margin-left: -200px;

}


.nav-button-orange{
  background-color: $orange-button;
  border-radius: 20px;
  // padding: 8px 20px;
  margin-right: 40px;
  min-width: 60px;
  color:$text-white;
}

.nav-button-orange:hover{
  background-color: $orange-hover !important;
  color:$orange-button !important;
  border-radius: 20px;
  // padding: 8px 20px;
  margin-right: 40px;
  min-width: 60px;
}

.nav-button-blue{
  background-color: $text-white;
  border-radius: 20px;
  border: 2px solid $dark-brown;
  color: $dark-brown !important;
  // padding: 8px 20px;

}
.nav-button-blue:hover{
  background-color: $dark-brown;
  color: $text-white !important;
  border-radius: 20px;
  // padding: 8px 20px;
  min-width: 60px;
}


.profile-image{
  border-radius: 50%;
}
.dropdown-menu{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: $orange-button;
  border-radius: 10px;
}
.dropdown-item:hover{
  background-color: $orange-hover;
}
