<div class="coffeemachines-container">
<div class="coffee-machine text-center">
  <h2>Here you can see all information about our Coffee Machines:</h2>
</div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 ">
      <div class="row ">
        <% @coffee_machines.each do |coffee_machine|  %>
          <div class="col-lg-4 mt-4 ">
          <div class="row coffee-machine-card mx-2">
            <div class="col-5 mt-5">
              <div class="card image-coffeemachines-container ">
                <% if coffee_machine.photo.attached? %>
                  <%= cl_image_tag coffee_machine.photo.key, class: "image-coffeemachines ", crop: :fill %>
                <% end %>
              </div>
            </div>
            <div class="col-6 card-body mt-2 card-body-coffeemachine">
              <h4 class="card-text "><%= coffee_machine.coffee_machine_model.name %></h4>
              <div class="errorchoose-coffeemachine">

                 <%= render "shared/drowpdowns", coffee_machine:coffee_machine %>

              </div>
            </div>
          </div>
          </div>
         <% end %>
        </div>
      </div>
    <div class="col-2"></div>
  </div>
</div>
