
<div style="margin:10% ">
<h1>New Coffee Machine</h1>

<%= form_for @coffee_machine do |f| %>
  <%= f.label :UniqueLoginCode ,class:"mt-5" %>
  <%= f.text_field :UniqueLoginCode %>


  <%= f.submit "Add new Coffee Machine"%>
<% end %>
</div>
