<div class="container " style="margin-top:10%">
  <h5> coffee Machine with serial number : <%= @coffee_machine.serial_number %></h1>
  <p>description : <%= @coffee_machine.description %></p>
  <p><strong>User:</strong> <%= @coffee_machine.user.email %></p>



</div>
